@model MCY_CV3.Models.Tables.Education
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Update", "Education", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.EducationID)
        @Html.TextBoxFor(m => m.EducationID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Description_EN)
        @Html.TextBoxFor(m => m.Description_EN, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, "{00:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, "{00:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-primary">Education Update</button>
    </div>
}