@model dynamic 
<div class="col-md-1 no-gutters justify-content-center left-menu rounded-left d-flex">
    <div class="row my-auto justify-content-center">
        <a href="/Home/Index"><i class="fas fa-user fa-2x my-2 col-12 text-center"></i></a>
        <a href="/Home/Communication"><i class="fas fa-phone fa-2x my-2 col-12 text-center"></i></a>
        <a href="#"><i class="fas fa-code fa-2x my-2 col-12 text-center"></i></a>
        <a href="#"><i class="fas fa-briefcase fa-2x my-2 col-12 text-center"></i></a>
        <a href="#"><i class="fas fa-palette fa-2x my-2 col-12 text-center"></i></a>
    </div>
</div>
<div class="col-md-4 my-pic rounded shadow" style="background-image:url('@Url.Content(Model.Abouts[0].ImageURL)');">
    <div class="name-d row">
        <div class="mx-auto my-auto">
            <h1 class="text-center">@Model.Admin[0].Name @Model.Admin[0].Surname</h1>
            <h3 class="text-center" style="color:cornflowerblue">@Model.WorkExpR.Position</h3>
            <div class="row pt-3">
                @foreach (var itm in Model.MainCom)
                {
                    <div class="col-3">
                        @if (itm.Title_EN != "Gmail")
                        {
                            <a href="@itm.Link"><i class="@itm.Symbol fa-2x"></i></a>
                        }
                        else
                        {
                            <a href="mailto:@itm.Link"><i class="@itm.Symbol fa-2x"></i></a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
